<?xml version="1.0" encoding="utf-8"?>
<settings debug = "0" init_time="3000" warning_time = "2000" activated_ping_rate="2000" warning_ping_rate="500">
    <detector min_area="2000" trace_max_object="1"/>
    <shooter rate="100" ammo="100" trigger_duration="100"/>
    <turret port="COM1" yaw_min="-45" yaw_max="45" pitch_min="-30" pitch_max="30" yaw_pin="1" pitch_pin="2"/>
    <sound enabled="1"/> 
</settings>
